#news-page {
    .news-page-content-wrapper {
        padding-top: 162px;

        .news-page-content {
            background-color: #F2F4F9;
            padding-top: 50px;
            padding-bottom: 150px;

            .news-item-wrapper {
                display: grid;
                gap: 20px;
                grid-template-columns: repeat(4, 1fr);
                padding: 0 40px;

                .news-item {
                    border: 1px solid rgba(223, 228, 237, 1);
                    border-radius: 10px;
                    background-color: #fff;

                    a {
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        height: 100%;

                        .news-img-wrapper {
                            padding: 20px;
                            width: 100%;
                            aspect-ratio: 3/2;
                            overflow: hidden;
                            border-radius: 10px;

                            .news-img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                object-position: center;
                                border-radius: 10px;
                            }
                        }

                        .news-title-wrapper {
                            flex: 1;
                            padding: 0 20px 20px 20px;

                            p {
                                display: -webkit-box;
                                -webkit-line-clamp: 2;
                                -webkit-box-orient: vertical;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                color: #000;
                                font-size: 18px;
                                font-weight: 500;
                            }
                        }

                        .news-date-wrapper {
                            display: flex;
                            align-items: center;
                            gap: 6px;
                            padding: 10px 20px;
                            border-top: 1px solid rgba(223, 228, 237, 1);

                            i {
                                color: #002d6d;
                            }

                            p {
                                color: rgba(119, 129, 145, 1);
                                font-family: inherit;
                                display: flex;
                                align-items: center;
                                font-size: 16px;
                            }

                            .news-view-wrapper {
                                margin-left: 30px;
                                display: flex;
                                align-items: center;
                                gap: 6px;

                                p {
                                }
                            }
                        }


                    }
                }
            }

            .news-page-pagination-wrapper {
                .pagination {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;

                    .page-item {
                        cursor: pointer;
                        width: 50px;
                        height: 50px;

                        .page-link {
                            width: 100%;
                            height: 100%;
                            border-radius: 10px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background-color: #f2f4f9;
                            color: #000;
                            font-size: 18px;
                            border: 1px solid rgba(223, 228, 237, 1);
                            outline: none;
                            box-shadow: none;

                            &:focus {
                                outline: none !important;
                                box-shadow: none !important;
                            }
                        }

                        &:focus-visible {
                            outline: none !important;
                            box-shadow: none !important;
                        }


                        &:first-child {
                            .page-link {
                                border: none;
                            }
                        }

                        &:last-child {
                            .page-link {
                                border: none;
                            }
                        }

                    }

                    .active {
                        &:focus {
                            outline: none !important;
                            box-shadow: none !important;
                        }

                        .page-link {
                            background-color: #fff;
                            border: none;
                            outline: none;
                        }
                    }
                }
            }

        }
    }
}


@media (max-width: 599px) {
    #news-page {
        .news-page-content-wrapper {
            padding-top: 181px;

            .news-page-content {
                .news-item-wrapper {
                    grid-template-columns: repeat(1, 1fr);
                    padding: 0 20px;
                }
            }
        }
    }

}

@media (min-width: 600px) and (max-width: 1099px) {

}

@media (min-width: 1100px) and (max-width: 1600px) {

}

@media (min-width: 1601px) {

}
