.contact-wrapper {
    background: rgba(0, 45, 109, 0.3);
    border-radius: 18px;
    padding: 20px 40px;
    max-width: 1080px;
}

.contact-wrapper h2 {
    color: #fff;
    text-align: center;
    font-size: 1.9rem;
    width: 100%;
    margin-bottom: 1.8rem;
}

.form-grid {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 30px;
}

.form-rows-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


label {
    display: flex;
    flex-direction: column;
    gap: 0.55rem;
    color: #fff;
    font-weight: 500;
    font-size: 0.93rem;
}


textarea {
    outline: none;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 12px;
    padding: 0.95rem 1.2rem;
    color: #fff !important;
    font-size: 1rem;
    transition: border-color 0.25s;
}


input {
    border: 1px solid rgba(255, 255, 255, 1) !important;
    outline: none;
    background: transparent;
    padding: 10px !important;
    border-radius: 12px !important;
    color: #fff !important;
}

input::placeholder,
textarea::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.message-row {
    width: 100%;
}


small {
    color: #ffd8d8;
    font-size: 0.75rem;
}

.send-btn {
    margin-top: 1.8rem;
    background: #ffffff;
    color: #002d6d;
    padding: 0.85rem 2.5rem;
    border-radius: 10px;
    font-weight: 600;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    transition: background 0.25s, color 0.25s;
}

.arrow {
    display: inline-block;
    transition: transform 0.25s;
}

.send-btn:hover .arrow {
    transform: translateX(5px);
}


@media (max-width: 599px) {
    .suggestion-form {
        display: flex;
        justify-content: center;
        align-items: center;


    }

    .contact-wrapper {
        width: 90% !important;
        padding: 20px 10px;


        .form-grid {
            margin-bottom: 20px;
            align-items: center;
            gap: 10px;

            .form-rows-wrapper {
                gap: 10px;
                flex-direction: column;
            }

            label {
                width: 80% !important;
            }
        }

        .send-btn {
            display: block;
            margin: 0 auto;
        }
    }

}

@media (min-width: 600px) and (max-width: 1099px) {

}

@media (min-width: 1100px) and (max-width: 1600px) {

}

@media (min-width: 1601px) {

}
