@import "bootstrap/dist/css/bootstrap.min.css";

@font-face {
    font-family: "Gt Eesti Pro Display";
    src: url("./assets/fonts/gteestiprodisplay_thin.otf") format("opentype");
    font-weight: 100;
}

@font-face {
    font-family: "Gt Eesti Pro Display";
    src: url("./assets/fonts/gteestiprodisplay_light.otf") format("opentype");
    font-weight: 300;
}

@font-face {
    font-family: "Gt Eesti Pro Display";
    src: url("./assets/fonts/gteestiprodisplay_regular.otf") format("opentype");
    font-weight: 400;
}

@font-face {
    font-family: "Gt Eesti Pro Display";
    src: url("./assets/fonts/gteestiprodisplay_medium.otf") format("opentype");
    font-weight: 500;
}

@font-face {
    font-family: "Gt Eesti Pro Display";
    src: url("./assets/fonts/gteestiprodisplay_bold.otf") format("opentype");
    font-weight: 700;
}

@font-face {
    font-family: "Gt Eesti Pro Display";
    src: url("./assets/fonts/gteestiprodisplay_ultrabold.otf") format("opentype");
    font-weight: 900;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Gt Eesti Pro Display", sans-serif !important;
    font-size: 14px;
    color: #888;
    overflow-x: hidden;
}

button {
    font-family: "Gt Eesti Pro Display", sans-serif !important;
}

html.no-scroll, body.no-scroll {
    overflow: hidden;
    overscroll-behavior: none;
}

/* Leadership header */
#leadership-header {
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
    z-index: 10;

    .header-content {
        width: 95%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 15px;

        ul {
            color: #fff;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 8px;
            row-gap: 8px;
            font-size: 16px;

            li {
                list-style: none;
                display: flex;
                align-items: center;
                gap: 8px;
            }
        }

        h2 {
            color: #f3e2a5;
            font-weight: 700;
        }
    }

    .header-background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #1a76d1 !important;
        z-index: -1;

        .header-background-image {
            width: 34%;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            z-index: 1;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                vertical-align: middle;
            }
        }

        .header-background-icon {
            width: auto;
            height: 100%;
            position: absolute;
            z-index: 3;
            top: 0;
            right: 34%;
            transform: translateX(calc(100% - 1px));

            .header-vector {
                width: auto;
                height: 100%;
                vertical-align: middle;
            }

            .header-banner-icon {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                width: 45%;
            }
        }
    }
}
