/*===========================
	NEWS AREA CSS END
=============================*/
.speakers {
    width: 95%;
    margin: 50px auto;
    background: #fff;
}

.speakers-title {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    max-width: 80%;

    h1 {
        color: #002d6d;
    }

    .speakers-title-divider {
        margin-left: 20px;
        height: 1px;
        background: #002d6d;
        flex: 1 1 auto;
    }

    a {
        color: #002d6d;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        border: 1px solid #002d6d;
        padding: 10px;
        border-radius: 10px;
    }
}

.speakers-thumb {
    border-radius: 10px;
    margin-bottom: 20px;
    max-height: 500px;
}

.speakers-content h3 {
    color: #000 !important;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.speakers-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    border: 1px solid rgba(223, 228, 237, 1);
}

#small-news {
    row-gap: 30px;
}

.speakers .row a {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    text-decoration: none;
}

.speakers-content {
    flex: 0 0 auto;
}

#small-news .speakers-thumb {
    margin-bottom: 10px;
    max-height: 230px;
}

#small-news .speakers-content h3 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 18px;
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    hyphens: auto;
}

/*===========================
	NEWS AREA CSS END
=============================*/


@media (max-width: 599px) {
    #news {
        width: 90%;

        .speakers-title {
            max-width: 100%;
        }

        & > div {
            row-gap: 30px;

            .speakers-thumb {
                margin-bottom: 10px;
            }
        }
    }

    #small-news .speakers-thumb {
        max-height: 300px;
    }

}

@media (min-width: 600px) and (max-width: 1099px) {

}

@media (min-width: 1100px) and (max-width: 1600px) {

}

@media (min-width: 1601px) {

}
