/*===========================
	Start Hero Area CSS
=============================*/

.slider {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}


.slider .hero-slider .bg-video {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    object-fit: cover;
    object-position: center;
    z-index: -1;
}

.slider .hero-slider::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #002d6d;
    z-index: -1;
    opacity: 0.6;
}

.slider .single-slider {
    height: 100vh;
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
    padding-top: 135px;
}

.slider .single-slider .container {
    max-width: 90vw !important;
    height: 100%;
}

.slider .single-slider .container .row {
    height: 100%;
}

.slider .single-slider .text {
}

.slider.index2 .single-slider .text {
    margin-top: 150px;
}

.slider .single-slider h1 {
    color: #2c2d3f;
    font-size: 38px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    line-height: 42px;
}

.slider .single-slider h1 span {
    color: #1a76d1;
}

.slider .single-slider p {
    color: #2c2d3f;
    margin-top: 27px;
    font-weight: 400;
}

.slider .single-slider .button {
    margin-top: 30px;
}

.slider .single-slider .btn {
    color: #fff;
    background: #1a76d1;
    font-weight: 500;
    display: inline-block;
    margin: 0 10px 0 0;
}

.slider .single-slider .btn:last-child {
    margin: 0;
}

.slider .single-slider .btn.primary {
    background: #2c2d3f;
    color: #fff;
}

.slider .single-slider .btn.primary:before {
    background: #1a76d1;
}

.slider .owl-carousel .owl-nav {
    position: absolute;
    top: 50%;
    width: 100%;
    margin: -25px 0 0;
}

.slider .owl-carousel .owl-nav div {
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    background: #1a76d1;
    color: #fff;
    font-size: 26px;
    position: absolute;
    margin: 0;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    padding: 0;
    border-radius: 50%;
}

.slider .owl-carousel .owl-nav div:hover {
    background: #2c2d3f;
    color: #fff;
}

.slider .owl-carousel .owl-controls .owl-nav .owl-prev {
    left: 20px;
}

.slider .owl-carousel .owl-controls .owl-nav .owl-next {
    right: 20px;
}

/* Slider Animation */
.owl-item.active .single-slider h1 {
    animation: fadeInUp 1s both 0.6s;
}

.owl-item.active .single-slider p {
    animation: fadeInUp 1s both 1s;
}

.owl-item.active .single-slider .button {
    animation: fadeInDown 1s both 1.5s;
}

/*===========================
	End Hero Area CSS
=============================*/


/*===========================
	CIRCULAR LOOP CSS
=============================*/
.circular-loop {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
}

.circular-loop .logo-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.circular-loop .logo-wrapper img {
    width: 200px;
}

.circular-loop .circle {
    --n: 6;
    --r: 180px;
    position: relative;
    width: calc(var(--r) * 2 + 100px);
    height: calc(var(--r) * 2 + 100px);
    animation: spin 20s linear infinite;
}

.circular-loop .circle .loop-item {
    display: flex;
    justify-content: center;
    align-items: center;
    --i: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: -60px;
    backdrop-filter: blur(10px);
    transform: rotate(calc(360deg / var(--n) * var(--i))) translateY(calc(-1 * var(--r))) rotate(calc(-360deg / var(--n) * var(--i)));
}

.circular-loop .circle .loop-item img {
    width: 55px;
    display: block;
}

.circular-loop .circle .loop-item .loop-item-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    align-items: center;
    animation: counterspin 20s linear infinite;
}

.circular-loop .circle .loop-item span {
    text-transform: uppercase;
    color: #fff;
    line-height: 1.2;
    text-align: center;
}

.circular-loop .circle .loop-item:nth-child(1) {
    --i: 0;
}

.circular-loop .circle .loop-item:nth-child(2) {
    --i: 1;
}

.circular-loop .circle .loop-item:nth-child(3) {
    --i: 2;
}

.circular-loop .circle .loop-item:nth-child(4) {
    --i: 3;
}

.circular-loop .circle .loop-item:nth-child(5) {
    --i: 4;
}

.circular-loop .circle .loop-item:nth-child(6) {
    --i: 5;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes counterspin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}

/*===========================
	CIRCULAR LOOP CSS
=============================*/


/*===========================
	FAOL USTOZLAR START
=============================*/
#teachers {
    max-width: 100%;
    position: relative;
    z-index: 1;
    overlay: hidden;
    padding: 70px 0;
    background-color: #1a76d1;
    border-bottom: 1px solid #fff;
}

#teachers .container {
    max-width: 1792px;
    padding: 0 16px;
}

#teachers .container .teachers-section-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#teachers .container .teachers-section-wrapper .teachers-section-header h1 {
    color: #fff;
    width: 95%;
    margin: auto auto 0;
}

#teachers .container .teachers-section-wrapper .teachers-section-body .teacher-slider-item {
    border-radius: 16px;
    height: 100%;
}

#teachers .container .teachers-section-wrapper .teachers-section-body .teacher-slider-item .teacher-card {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    height: 100%;
}

#teachers .container .teachers-section-wrapper .teachers-section-body .teacher-slider-item .teacher-card .teacher-card-image {
    aspect-ratio: 1.54;
    border-radius: 16px;
    overflow: hidden;
    width: calc(100% - 40px);
    position: relative;
    transform: translateY(20px);
}

#teachers .container .teachers-section-wrapper .teachers-section-body .teacher-slider-item .teacher-card .teacher-card-image img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: top;
    object-position: top;
}

#teachers .container .teachers-section-wrapper .teachers-section-body .teacher-slider-item .teacher-card .teacher-card-info {
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: 16px;
    overflow: hidden;
    width: 100%;
    position: relative;
    z-index: 1;
    flex: 1;
    background: #fff;
    padding: 30px 20px 20px;
}

#teachers .container .teachers-section-wrapper .teachers-section-body .teacher-slider-item .teacher-card .teacher-card-info p {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 149%;
    color: #000000;
}

#teachers .container .teachers-section-wrapper .teachers-section-footer {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

#teachers .container .teachers-section-wrapper .teachers-section-footer .teacher-slider-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    gap: 6px;
    transition: all 0.1s ease-in-out;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    width: 60px;
    height: 50px;
    padding: 0;
    font-size: 24px;
    border: 1px solid transparent;
    outline: none;
}

#teachers .container .teachers-section-wrapper .teachers-section-footer .teacher-slider-toggle:hover {
    background-color: #fff;
    color: #1a76d1;
}

#teachers .container .teachers-section-wrapper .teachers-section-footer #teachers-dots {
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    border-radius: 6px;
}

#teachers .container .teachers-section-wrapper .teachers-section-footer #teachers-dots button {
    background-color: transparent;
    border: none;
    outline: 0;
    border-radius: 6px;
    height: 6px;
    transition: all 0.3s ease-in-out;
    min-width: 60px;
}

#teachers .container .teachers-section-wrapper .teachers-section-footer #teachers-dots button.active {
    background-color: #fff;
}

/*===========================
	FAOL USTOZLAR END
=============================*/


/*===========================
	GOOGLE MAPS Area CSS START
=============================*/
#maps {
    color: #fff;
    width: 100vw;
    background-color: #1a76d1;
    padding: 50px 5% 150px;
}

#maps > h1 {
    color: #fff;
    margin-bottom: 40px;
}

#maps #maps-content {
    display: flex;
    justify-content: center;
}

#maps #maps-content #map-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

#maps #maps-content svg {
    max-width: 500px;
}

#maps #maps-content div:last-child {
    border-left: 1px solid #fff;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

#maps #maps-content div p,
h5,
h3 {
    color: #fff;
}

#maps #maps-content div h3 {
    color: #fff;
    border-bottom: 1px solid #fff;
    margin-bottom: 20px;
    padding-bottom: 20px;
    font-weight: bold;
}

#maps #maps-content div h5 {
    color: #fff;
    margin-bottom: 30px;
}

/*===========================
	GOOGLE MAPS Area CSS END
=============================*/

.president-quote-wrapper {
    padding-bottom: 150px;
    background-color: #1a76d1;
    display: flex;
    justify-content: center;
    align-items: center;

    .president-quote {
        z-index: 5;
        margin-left: 10px;
        max-width: 600px;

        p {
            margin-top: 20px;
            font-size: 25px;
            color: #fff;
            font-weight: 600;
            text-align: left;
            line-height: 1.5;
            text-transform: uppercase;
        }

    }

    img {
        border-radius: 5px;
        z-index: 2;
        flex: 0 800px;
        width: 800px;
        height: auto;
        object-fit: cover;
        mask-image: linear-gradient(to left, transparent 0%, black 10%, black 100%);
    }
}

